name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25.6'

    - name: Set up Core
      run: go install cogentcore.org/core@main && core setup

    - name: Build
      if: false
      run: go build -v ./...

    - name: Test
      run: go test -v ./... -coverprofile cover.out -timeout 30s

  coverage:
      uses: cogentcore/go-coverage-report/.github/workflows/action.yml@f6d9b75ae7c0c8d2a2d252d5a36ff371dfe0bb12
      with:
        coverage-file: cover.out

