name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25.6'

    - name: Set up Core
      run: go install cogentcore.org/core@main && core setup

    - name: Build
      if: false
      run: go build -v ./...

    - name: Test
      run: go test -v ./... -coverprofile cover.out -timeout 30s

  coverage:
      uses: cogentcore/go-coverage-report/.github/workflows/action.yml@40047db21d2924989ec6dce704f5ba87a5acdb3d
      with:
        coverage-file: cover.out
      if: github.event_name == 'push'
