name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25.6'

    - name: Set up Core
      run: go install cogentcore.org/core@main && core setup

    - name: Build
      if: false
      run: go build -v ./...

    - name: Test
      run: go test -v ./... -coverprofile cover.out -timeout 30s

    - name: Checkout wiki
      uses: actions/checkout@v4
      with:
        repository: ${{github.repository}}.wiki
        path: ./.github/wiki/

    - name: Generate coverage report
      shell: bash
      env:
        INPUT_COVERAGE: ${{inputs.coverage-file}}
        INPUT_MODULE: ${{inputs.module-dir}}
        INPUT_REPORT: ${{inputs.report}}
        INPUT_CHART: ${{inputs.chart}}
        INPUT_BADGE_STYLE: ${{inputs.badge-style}}
        INPUT_BADGE_TITLE: ${{inputs.badge-title}}
      run: |
        ./.github/coverage.sh ./.github/wiki/${{inputs.output-dir}}

    - name: Push to wiki
      shell: bash
      env:
        INPUT_AMEND: ${{inputs.amend}}
      run: |
        ./.github/push.sh ./.github/wiki/

